
.top-nav {
    background-color: #c5d0d8 ;
    height: 9vh;
    padding: 0 !important;
    box-sizing: border-box;
   
}
.top-nav .nav-link  {
    font-weight: 540;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; 
    
    
}
.top-nav .offer-text {
    color: #f76840!important; 
   
}
.top-nav img {
    width: 70px;
    height: 40px;
    padding: auto;
}
.top-nav .marque-text {
    max-width: 300px !important;
    text-align: left;
}

  
  @media screen and (max-width: 768px) {
    .top-nav .nav-link {
        font-size: 8px;
    }
    .top-nav .offer-text {
        font-size: 10px;
        
        
    }
    .top-nav img {
        width: 40px;
        height: 30px;
        margin-bottom: 10px;
    }
    .top-nav .marque-text {
        max-width: 150px !important;
        margin-bottom: 5px;

    }
  }